.container
  %a.button__first.bg__blue
    %span Читать описание
    .icon
      %i.fa.fa-info-circle
      %i.fa.icon-checkmark
  %a.button__first
    %span Смотреть модули
    .icon
      %i.fa.icon-circle-right.fa-arrow-circle-right
      %i.fa.icon-checkmark
