.container
  .row
    .col-xs-12.col-sm-12.col-md-6
      %h1 Кнопки пример 1
      %a.button__first.bg__blue
        %span Читать описание
        .icon
          %i.fa.fa-info-circle
          %i.fa.icon-checkmark
      %a.button__first
        %span Смотреть модули
        .icon
          %i.fa.icon-circle-right.fa-arrow-circle-right
          %i.fa.icon-checkmark
    .col-xs-12.col-sm-12.col-md-6.bg-wh
      %h1 Кнопки пример 2
      %a{:href => "#", class: "thb-btn thb-read-more fa"} Читать далее
      %br/
      %hr/
      %a{:href => "#", class: "thb-btn thb-read-more fa thb-read-more_b"} Читать далее
