.border__r
  .classik
    %h1.text-center.heading__big It's my own file
    .text-center.pad__t-b
      = link_to "Bootstrap", root_path, id: "bootstrap__link"
      = link_to "Catalog", static_pages_help_path, id: "bootstrap__link"

    .clearfix
      .block__wid
        %h1.text-center Lorem ipsum dolor sit amet.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, hic itaque optio nisi, deleniti et ut perferendis libero! Saepe, veritatis.
        %hr{:style => "max-width:425px; margin: 0 auto;"}/
      .block__wid.block__center
        %h1.text-center Lorem ipsum dolor sit amet.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eaque, vero rem sint accusantium rerum nostrum impedit beatae doloremque libero.
        %hr{:style => "max-width:425px; margin: 0 auto;"}/
      .block__wid
        %h1.text-center Lorem ipsum dolor sit amet.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad incidunt adipisci sint vel amet tenetur consequuntur aspernatur quae error, illum.
        %hr{:style => "max-width:425px; margin: 0 auto;"}/