@import "bootstrap";

/* Верхняя закругленная полоса*/
.border__r {
  border-top: 3px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

/* Блок с контентом */
.classik {
  color: white;
  font-family: sans-serif;
  text-align: justify;
  margin: 30px 25px 100px 25px;
  line-height: 1.6em;
  font-size: 18px;
}

/*Расположение текста по центру*/
.text-center {
  text-align: center;
}

/*Заголовок большой*/
.heading__big {
  font-size: 50px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

/*Анимация на заголовке при наведении*/
.heading__big:hover {
  text-shadow: 2px 6px 10px #CFCFCF;
}

.bootstrap__link {
  text-decoration: none !important;
  font-size: 30px;
  color: #fff !important;
  background: #db0000;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #000;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.bootstrap__link:hover {
  background: #c10000;
}

.pad__t-b {
  padding: 15px 0;
}

.bootstrap__link:active {
  box-shadow: 0 0 11px #670000 inset;
}

/*Расположение дивов в 3 колонки по 30%*/
.block__wid {
  width: 30%;
  float: left;
}

/*Центральный блок с марджином по бокам 5%*/
.block__center {
  margin: 0 5%;
}

