body {
  background: #000 !important;
}
/* Кнопка начало */
a.button__first:hover, a.button__first:focus {
  color: #fff !important;
}

.button__first {
  display: block;
  background-color: #c0392b;
  width: 380px;
  height: 80px;
  line-height: 80px;
  margin: 40px 0;
  color: #fff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.bg__blue {
  background-color: #2B86C0;
}
.button__first span,
.button__first .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.button__first span {
  width: 72%;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button__first span:after {
  content: '';
  background-color: #a53125;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.button__first.bg__blue span:after {
  background-color: #1f5d84;
}
.button__first .icon {
  width: 28%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button__first .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.button__first .icon .icon-circle-right, .button__first .icon .fa-info-circle {
  height: 36px;
}
.button__first .icon .icon-checkmark {
  display: none;
}
.button__first.success span, .button__first:hover span {
  left: -72%;
  opacity: 0;
}
.button__first.success .icon, .button__first:hover .icon {
  width: 100%;
}
.button__first.success .icon .fa, .button__first:hover .icon .fa {
  font-size: 45px;
}
.button__first.success {
  background-color: #27ae60;
}
.button__first.success .icon .icon-circle-right, .button__first.success .icon .icon-info {
  display: none;
}
.button__first.success .icon .icon-checkmark {
  display: inline-block;
}
.button:hover {
  opacity: .9;
}
.button__first:hover .icon .icon-circle-right, .button__first:hover .icon .icon-info {
  height: 46px;
}
.button__first:active {
  opacity: 1;
}
/* Кнопка конец */
/* Кнопка 2 начало */
.thb-btn{
  color:#333;
  text-decoration: none !important;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  border-width: 2px;
  border-style: solid;
  padding: 12px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 400;
}
.thb-read-more:hover{
  color: white !important;
  border-color: #00aeef;
}

.thb-btn:hover{
  border-color: #097988;
}

.thb-read-more{
  font-weight: bold !important;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;

}

.thb-btn.thb-read-more:hover:before{
  margin-left: 0;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.thb-btn.thb-read-more:before{
  content: "\f105";
  display: block;
  float: right;
  text-align: right;
  font-size: 14px;
  width: 24px;
  margin-left: -24px;
  line-height: 1;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.thb-btn.thb-read-more:hover:after{
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  width: 100%;
}
.thb-btn.thb-read-more:after{
  background-color: #097988;
}
.thb-btn.thb-read-more:after{
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 100%;
  border-radius: 2px;
  z-index: -1;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.bg-wh{
  background-color:white;
  color: black;
  height: 300px;
}
.thb-read-more_b:hover{
  border-color: #00aeef;
}
.thb-btn.thb-read-more_b:after{
  background-color: #00aeef;
}