// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Цвет фона */
body {
  background: #518FF5;
  color: #fff;
  font-size: 18px;
}

/*Выравнивание текста*/
.grid1__p {
  text-align: justify;
  line-height: 1.4em;
}

.in__but {
  color: #000 !important;
}

/*Начало крутой кнопки*/
.button {
  margin: 100px auto;
  width: 250px;
  height: 60px;
  position: relative;
}
.button a.button__a {
  text-decoration: none;
  color: #fff !important;
}
.demo {
  background: #af0000;
  width: 250px;
  height: 60px;
  padding: 0 0 0 50px;
  text-align: center;
  position: absolute;
  line-height: 60px;
  font-size: 2em;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  -moz-transition: 1.5s;
  transition: 1.5s;
  border-radius: 3px;
}
.disc {
  background: #830000;
  position: absolute;
  width: 200px;
  height: 60px;
  padding: 10px 0 10px 100px;
  text-align: center;
  line-height: 20px;
  top: 0;
  right: 0;
  z-index: 1;
  border-radius: 0 3px 3px 0;
}
img.set {
  vertical-align: middle;
  position: absolute;
  z-index: 3;
  left: 14px;
  top: 14px;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  -moz-transition: 1.5s;
  transition: 1.5s;
}

.button:hover .demo {
  width: 150px;
  font-size: 1.4em;
  border-radius: 3px 0 0 3px;
}

.button:hover img.set {
  transform: rotate(360deg);
}
/*Конец крутой кнопки*/

/*Див с отступом*/
.br {
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
}

/*Сверху баг, отступ убрали от навбара*/
.carousel-inner {
  margin-top:-20px;
}

/*Для вкладок отступы*/
.tab__pad.active {
  padding: 10px 15px;
}

a.spoiler:after {
  content: " [-]";
}

a.spoiler.collapsed:after {
  content: " [+]";
}

/*Цвет отличный от того что в боди*/
 .other-color {
  color: black;
 }

 /*В аккордеоне убрать линию ссылки*/
 .panel-heading>.panel-title>a {
    text-decoration: none;
}

/*Оформление ссылки в навбаре*/
.btn__nav {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  text-decoration: none !important;
  font-size: 18px;
}

/*Кнопка в выпадающем меню "Войти" Sign in*/
.btn__lar {
  float:right;
  margin-bottom: 10px;
}

/*Выпадающее меню размер в навбаре*/
div.popover.fade.bottom.in {
  width: 400px;
  max-width: 400px !important;
}

/*Выпадающее меню размер в навбаре*/
div.popover.fade.bottom {
  width: 400px;
  max-width: 400px !important;
}

// Style.css
/* Верхняя закругленная полоса*/
.border__r {
  border-top: 3px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

/* Блок с контентом */
.classik {
  color: white;
  font-family: sans-serif;
  text-align: justify;
  margin: 30px 25px 1000px 25px;
  line-height: 1.6em;
  font-size: 18px;
}

/*Расположение текста по центру*/
.text-center {
  text-align: center;
}

/*Заголовок большой*/
.heading__big {
  font-size: 50px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

/*Анимация на заголовке при наведении*/
.heading__big:hover {
  text-shadow: 2px 6px 10px #CFCFCF;
}

#bootstrap__link {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  background: #db0000;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #000;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

#bootstrap__link:hover {
  background: #c10000;
}

.pad__t-b {
  padding: 15px 0;
}

#bootstrap__link:active {
  box-shadow: 0 0 11px #670000 inset;
}

/*Расположение дивов в 3 колонки по 30%*/
.block__wid {
  width: 30%;
  float: left;
}

/*Центральный блок с марджином по бокам 5%*/
.block__center {
  margin: 0 5%;
}
// end style.css

// start style3.css

.footer {
  padding: 40px 0;
  margin-top: 40px;
}


/*Оформление ссылки в навбаре*/
.btn__nav {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  text-decoration: none !important;
  font-size: 18px;
}

/*Кнопка в выпадающем меню "Войти" Sign in*/
.btn__lar {
  float:right;
  margin-bottom: 10px;
}

/*Выпадающее меню размер в навбаре*/
div.popover.fade.bottom.in {
  width: 400px;
  max-width: 400px !important;
}

/*Выпадающее меню размер в навбаре*/
div.popover.fade.bottom {
  width: 400px;
  max-width: 400px !important;
}


// end style3.css